<h1>Welcome to Health Trackr</h1>
<h4>Keep track of your fitness and food.</h4>

<div class="row">
  <div class="col-sm-6">
    <h3>Food</h3>
    <hr>
    <div class="calories">
      <h2><%= @total_cal_consumed %></h2>
    </div>
    <div class="list">
      <% if @foods.any? %>
        <table class="table">
          <tr>
            <th>Food</th>
            <th class = "table_cal">Calories</th>
          </tr>

          <% @foods.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td class="table_cal"><%= f.cal_consumed %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="add_track">
      <%= link_to 'Add a Food', new_food_path, id: 'new_food', class: 'btn btn-sm btn-primary form-control', remote: true %><br><br>
    </div>
  </div>

  <div class="col-sm-6">
    <h3>Fitness</h3>
    <hr>
    <div class="calories">
      <h2><%= @total_cal_burned %></h2>
    </div>
    <div class="list">
      <% if @workouts.any? %>
        <table class="table">
          <tr>
            <th>Workout</th>
            <th class = "table_cal">Calories Burned</th>
          </tr>

          <% @workouts.each do |w| %>
            <tr>
              <td><%= w.name %></td>
              <td class = "table_cal"><%= w.cal_burned %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="add_track">
      <%= link_to 'Add a Workout', new_workout_path, id: 'new_workout', class: 'btn btn-sm btn-primary form-control', remote: true %><br><br>
    </div>
  </div>
</div>
